html { 
  background-color: white; 
  } 

  .banner { 
  border-bottom: 3px solid white; 
  background-color: Darkorange; 
  position: fixed; 
  top: 0; z-index: 1; 
  width: 100%; 
  font-family: Helvetica, sans-serif; 
  font-size: 22px; 
  color: white; 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-left: -8px; 
  
  }